:root {
  --white: #fff;

  --bg: #f2f2f2;

  --black: #000;

  --gray-50: #bcbcbc;
  --gray: #595959;

  --primary-50: #fff4e2;
  --primary: #e5a040;

  --secondary-50: #4086e0;
  --secondary: #0d7bcd;

  --negative: #e92a40;
  --online: #07a23b;
}
