.sider {
  background-color: var(--bg);

  height: 100%;

  transition: all 200ms ease-in;

  position: sticky;
}

.hideLeft {
  width: 0;
  transform: translateX(-100%);
}

.hideRight {
  width: 0 !important;
  transform: translateX(100%);
}
